* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.blender{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    background-image: url(image/blender-off.png);
    background-repeat: no repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
}

.blender__btn{
    position:fixed;
    top: 82%;
    left: 46%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 3px #000;
    background: rgb(255, 14, 14);
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
}

.blender.active{
    background-image: url(image/blender-on.png);
}