/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #3d3d3d;
    color: #fff;
}

body h2 {
    margin-top: 40px;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.popular {
    color: #fff;
    text-align: center;
    margin-top: 2 rem;
}

.container .pelicula {
	text-align: center;
}

.container .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.container .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.pages {
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.pages button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.pages button:hover {
	background: #137c32;
}